body{
   background-color:rgb(194, 194, 194); 
   font-family: sans-serif;
   
}

header{
    border-bottom:6px dashed black;
}

h1{
    text-align:center;
    color:mediumblue;
    border:7px double darkorange;
    padding:10px;
}

nav a{
    text-decoration:none;
    border:3px solid darkcyan;
    border-radius:30px;
    background-color:lightseagreen;
    color:black;
    padding:7px;
    margin:20px;
    font-size:20px;
}

nav{
    text-align: center;
    margin-top:50px;
    margin-bottom:70px;
}

footer{
    background-color: black;
    margin-top:150px;
}

footer p{
    color:white;
    margin-left:80px;
}

main p{
    border:3px solid black;
    border-radius:50px;
    padding:20px;
    text-align:center;
    color:blue;
}

.p2{
    text-align:left;
    border:none;
    color:brown;
    font-size:20px;
}

img{
    border:5px dashed darkgreen;
    width:200px;
    height:200px;
    margin:20px;
}
